<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='icon/icon.webp')}}" type="image/x-icon">
    <meta name="google-site-verification" content="T_ghZTVRmBjxva0e9ljgiuo3pauPQxJtY75-DKkBKbM" />
<!--         site varification for mastiflicks.site -->
    <meta name="google-site-verification" content="-sPEbk0hlSxKy6IK1WMIzVBFoUZN6sJvXn4_UmKaN-w" />
    <meta name="google-adsense-account" content="ca-pub-7849940869728739">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7849940869728739"
     crossorigin="anonymous"></script>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "url": "https://www.mastiflicks.site",
  "name": "MastiFlicks",
  "potentialAction": []
}
</script>   
    {% block seo %}

    {% endblock %}

</head>

<body>
    <nav id="hemu">
        <div id="logo">
            <img id="mnicon" onclick="notvisi()" src="{{url_for('static', filename='ico/menu_black_24dp.svg')}}"
                alt="menu">
            <a href="/" title="MastiFlicks">
                <p>MastiFlick</p>
            </a>
        </div>
        <div id="menug">
            <ul id="ul" class="notvisi">
                <li>
                    <a href="/" onclick="setama()" title="home">
                        Home
                    </a>
                </li>
                <li>
                    <a href="/?category=Trailer" title="Trailer">
                        Trailer
                    </a>
                </li>
                <li>
                    <a href="/?category=Movie" title="Movie">
                        Movie
                    </a>
                </li>
                <li>
                    <a href="/?category=Song" title="Song">
                        Song
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    {% block content %}

    {% endblock %}
</body>
<script>
    function notvisi() {

        let btn = document.getElementById('ul');
        btn.classList.toggle('notvisi')
        console.log("manu")
    }
</script>

</html>
