{% set title = dbdata[0]["title"] %}
{% from "title_macro.html" import replacedtitle %}
{% set seotitle = replacedtitle(title)| lower%}
{%extends"base.html" %}
{% block seo %}
<title>{{title}}</title>
<meta name="description" content="{{dbdata[0]['desc'][:150]}} ...">
<meta property="og:title" content="{{title}}" />
<meta property="og:description" content="{{dbdata[0]['desc'][:180]}} ..." />
<meta property="og:image" content="{{dbdata[0]['img']}}" />
<meta itemprop="image" content="{{dbdata[0]['img']}}">
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "mainEntityOfPage": {
    "@type": "WebPage"
    
  },
  "headline": "{{title}} ",
  "description": "{{dbdata[0]['desc'][:200]}}",
  "image": "{{dbdata[0]["img"]}}",
  "author": {
    "@type": "Person",
    "name": "Mastiflicks"
  
  },
  "datePublished": "{{dbdata[0]["pubDate"]}}",
  "url": "https://mastiflicks.vercel.app/read?id={{ids| int}}&title={{ seotitle }}" 
}
</script>


{% endblock %}

{% block content %}

    <div id='pagenews'>
        <div id='newsdiv'>       
                <h1 class='head'>{{dbdata[0]["title"]}}</h2>
                <img src='{{dbdata[0]["img"]}}' loading='lazy' alt={{title}}>
                <p class='para'>{{dbdata[0]["pubDate"]}}</p>
                <p class='para'>{{dbdata[0]["desc"]}}</p>
            <a href='{{dbdata[0]["url"]["url"]}}' title='{{dbdata["cat"]}}' target="_blank">
                <button class="catbut">{{dbdata[0]["url"]["title"]}}</button>
            </a>
        </div>   

    </div>


<p class="head" style="font-size:x-large; font-weight: bolder; text-align:center; margin: 5px 4px;"> Reade More</p>
{%if alldata ==[]%}
<a href='/' title='read more' style="font-size:large; font-weight: bolder; text-align:center; margin: 5px 5px;">
    <p class='catbut'>Click Here to Read More...</p>
</a>
{%else%}
<div id='news'>
    
    {%for item in alldata |reverse%}
    {% set title = replacedtitle(item[0]["title"])|lower %}
    
    <div class='kid1'>
        
        <a href="read?id={{item[0]['id']}}&title={{title}}" title='{{item[0]["title"]}}'>
            <div>
                <h2 class='head'>{{item[0]["title"]}}</h2>
                <img src='{{item[0]["img"]}}' loading='lazy' alt={{title}}>
                <p class='para'>{{item[0]["pubDate"]}}</p>
                <p class='para'>{{item[0]["desc"]}}</p>
            </div>
        </a>
        <a href='/?category={{item[0]["cat"]}}' title='{{item[0]["cat"]}}'>
            <p class='catbut'>{{item[0]["cat"]}}</p>
        </a>
    </div>
    {%endfor%}
    
</div>
{%endif%}
{% endblock %}
