{% from "title_macro.html" import replacedtitle -%}


{% macro card(cat) -%}

    {% for item in dbdata -%}

    {% set title = item["title"]| lower -%}


    <div class='kid1'>
        <a href="/read?id={{item['id']}}&title={{replacedtitle(title)}}" title='{{replacedtitle(title)}}'>
            <div>
                <h2 class='head'>{{item["title"]}}</h2>
                <div class="imgdiv">
                    <img src='{{item["img"]}}' loading='lazy' alt='{{title}}'>
                </div>
                <p class='para'>{{item["date"]}}</p>
                <p class='para'>{{item["desc"]}}</p>
            </div>
        </a>
         <a href='/?category={{item["cat"]}}' title='{{item["cat"]}}'>
            <p class='catbut'>{{item["cat"]}}</p>
        </a> 
    </div>

    {%- endfor%}


{%- endmacro -%}
{%- block content %}
{{card("all")}}
{%- endblock %}