<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{url_for('static', filename='ico/icon.webp')}}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{{url_for('static', filename='ico/icon.webp')}}">
    <!-- Google tag (gtag.js) -->
    <meta name="google-site-verification" content="-sPEbk0hlSxKy6IK1WMIzVBFoUZN6sJvXn4_UmKaN-w" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JHQHE2VME2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-JHQHE2VME2');
    </script>
    {%block seo%}
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "WebSite",
          "url": "https://www.mastiflicks.site/",
          "name": "MastiFlicks",
          "potentialAction": []
        }
        </script>

    {%endblock%}
</head>

<body>
    <nav id="nav">
        <div class="nav-content">
            <div class="logo">MastiFlicks</div>
            <button class="menu-toggle">☰</button>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/?category=Teaser">Teaser</a></li>
                <li><a href="/?category=Buzz">Buzz</a></li>
                <li><a href="/?category=Recommendation">Watch It</a></li>
                <!-- <li><a href="/">Celebrities</a></li> -->
            </ul>
        </div>
    </nav>
    {%block content%}

    {%endblock%}

    <footer>
        <div class="footer-content">
            <div class="footer-links">
                <a href="/privacy">Privacy Policy</a>
                <a href="https://www.facebook.com/people/Newsfatafat/61552374107088/">Facebook Page</a>
                <a href="/static/sitemap.xml">Sitemap</a>
                <!-- <a href="/">Contact Us</a> -->
            </div>
            <div class="copyright">
                <p>&copy; 2024 Entertainment News Insider. All rights reserved.</p>
            </div>
        </div>
    </footer>
</body>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const menuToggle = document.querySelector('.menu-toggle');
        let nav = document.getElementById("nav")
        const navUl = document.querySelector('nav ul');

        menuToggle.addEventListener('click', function () {
            navUl.classList.toggle('show');
        });

        // Close menu when clicking outside
        document.addEventListener('click', function (event) {
            const isClickInsideNav = nav.contains(event.target);
            if (!isClickInsideNav && navUl.classList.contains('show')) {
                navUl.classList.remove('show');
            }
        });

        // Close menu when window is resized to larger screen
        window.addEventListener('resize', function () {
            if (window.innerWidth > 768 && navUl.classList.contains('show')) {
                navUl.classList.remove('show');
            }
        });


        // Share functionality
        function addShareEventListeners() {
            const shareBtns = document.querySelectorAll('.share-btn');
            shareBtns.forEach(btn => {
                btn.addEventListener('click', function (e) {
                    e.preventDefault();
                    e.stopPropagation(); // Prevent the card click event from firing
                    const url = this.dataset.url;
                    if (navigator.share) {
                        navigator.share({
                            title: 'Check out this news!',
                            url: url
                        }).then(() => {
                            console.log('Thanks for sharing!');
                        }).catch(console.error);
                    } else {
                        // Fallback for browsers that don't support the Web Share API
                        const tempInput = document.createElement('input');
                        document.body.appendChild(tempInput);
                        tempInput.value = url;
                        tempInput.select();
                        document.execCommand('copy');
                        document.body.removeChild(tempInput);
                        alert('Link copied to clipboard!');
                    }
                });
            });
        }

        // Make cards clickable
        function makeCardsClickable() {
            const cards = document.querySelectorAll('.card');
            cards.forEach(card => {
                card.addEventListener('click', function () {
                    const articleUrl = this.dataset.articleUrl;
                    window.location.href = articleUrl;
                });
            });
        }

        // Initialize share functionality and make cards clickable for initial cards
        addShareEventListeners();
        // makeCardsClickable();

        // Initial check for single card layout
        const initialVisibleCards = document.querySelectorAll('.card[style="display: block"]').length;
        if (initialVisibleCards === 1) {
            cardGrid.style.justifyContent = 'center';
        }
    });
</script>

</html>